#form {
    display: flex;
    justify-content: center;
}
/* Navbar styles */
#navItems{
    position: relative;
}

.custom-navbar{
    position: relative;
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%)
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.form-control:focus {
    box-shadow: none;
}
.nav-item :hover{
    color: 	#FFA500 !important;
    
}

.colorWhite{
    font-family: sans-serif;
    font-weight: 700;
}

.custom-input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da
}


.btn-outline-success {
    border-color: #ffff !important;
}

.custom-btn{
    background-color: #FFA500 ;
    padding: 9px;
    color: #fff;
    border: 5px;
    border-radius: 5px;
}
.btn-outline-success:hover {
    color: #5e568c !important;
    background-color: #ffff !important;
    border-color: #198754 !important;
}
.form-check-input{
    width: 1.5em !important;
    height: 1.5em !important;
}
.form-check-input:checked {
    background-color: #FFA500  !important;
    border-color: #FFA500 !important;
}

.form-check-input:focus {
    border-color: #FFA500  !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-group{
    width: 35%;
}
.custom-form {
    display: flex;
    flex-direction: column;
}

.pera_group {
    width: 90% !important;
    text-align: justify;
}