<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/kpk_styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />

  <title>KPK Vehicle Verification</title>
</head>

<body>
  <div id="app">
    <!-- navbar starts here -->
    <div id="navItems">
      <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container-fluid nav-group">
          <a class="navbar-brand colorWhite" href="./index.html">Emodian</a>
          <button class="navbar-toggler dropdown dropdown-toggle" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item px-4">
                <a class="colorWhite nav-link active" aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link colorWhite" href="/punjab.html">Punjab</a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link colorWhite" href="/./kpk.html">KPK</a>
              </li>
              <li class="nav-item dropdown">
                <a class="colorWhite nav-link dropdown dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Islamabad
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="./islamabad.html">Card Status Check</a></li>

                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Vehicle Details</a>
                  </li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="rounded custom-btn " type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <!-- form div starts here -->
    <div class="container d-flex justify-content-center">
      <div class="col-md-8  ">
        <h1 class="fs-6 mt-4 ">Enter Your Vehicle Details</h1>
        <div class="mb-3 custom-form">
          <label for="formGroupExampleInput" class="form-label mt-2">Vehicle Registration date</label>
          <input type="text" v-model="reg_date" class="form-control" id="formGroupExampleInput"
            placeholder="eg: 2016-05-14" />
          <p v-if="veh_err != '' " class="text-danger"><small>{{veh_err}}</small></p>
        </div>
        <div class="mb-3 custom-form">
          <label for="formGroupExampleInput" class="form-label mt-2">Vehicle Number</label>
          <input type="text" v-model="veh_num" class="form-control" id="formGroupExampleInput"
            placeholder="AAW-123" />
          <p v-if="veh_err != '' " class="text-danger"><small>{{veh_err}}</small></p>
        </div>
        
        <button @click="getResults" class="custom-btn  mt-3 ">
          <span v-if="btntext !== 'Check Details' ">
            <img :src="loaderUrl" alt="'loader" width="20px;" /> &nbsp;</span><span v-text="btntext"></span>
        </button>
      </div>
    </div>

    <!-- rersults div starts here -->
    <div v-if="responseErroe != '' ">{{responseErroe}}</div>
    <div id="results" v-if="results != '' ">
      <div class=" container d-flex justify-content-center ">
        <div class="col-md-8 ">


          <table class="table table-bordered caption-top">
            <h4 class="mt-4">Results</h4>
            <tbody>
              <tr>
                <td style="width: 40%">Owner Name</td>
                <td>{{results.owner_name}}</td>
              </tr>
              </tr>
              <td style="width: 40%">Registration Date</td>
              <td>{{results.registration_date}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Body Type</td>
                <td>{{results.bodytype}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Chassis Number</td>
                <td>{{results.chassis_no}}</td>
              </tr>
              <tr>
              <tr>
                <td style="width: 40%">Color</td>
                <td>{{results.color}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Engine Number</td>
                <td>{{results.engine_no}}</td>

              <tr>
              <tr>
                <td style="width: 40%">Engine Size</td>
                <td>{{results.engine_size}}</td>

              <tr>
                <td style="width: 40%">Maker Make</td>
                <td>{{results.maker-make}}</td>
              </tr>
              
              <tr>
                <td style="width: 40%">Registration Number</td>
                <td>{{results.registration_no}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Purchase Type</td>
                <td>{{results.purchase_type}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Year Of Manufecture</td>
                <td>{{results.year_of_manufacture}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Tex Paid Up To</td>
                <td>{{results.tax_paid_upto}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div v-else="results == '' ">
      <h3>Content</h3>
    </div>


    <!-- {{ results }} -->

  </div>
  <footer class="d-flex  justify-content-center " style="margin-top: 13rem">
    <div class=" text-center d-flex  justify-content-between ">
      &copy;2021 All rights reserved &nbsp;
      <span>
        Made with <img src="./img/Heart.jpg" width="20px" ; alt="Love"> in <a href="www.emodiantechnologies.com" target="_blank">Emodian
          Technologies </a>
      </span>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
    crossorigin="anonymous"></script>

  <script>
    new Vue({
      el: "#app",
      data: {
        url_ict_owner: "https://pak-vehicles.herokuapp.com/check-ict-veh-details/",
        reg_date: "",
        veh_num: "",
        results: "",
        btntext: "Check Details",
        loaderUrl: "https://i.gifer.com/ZZ5H.gif",
        responseErroe: "",
        veh_err: "",
      },

      methods: {
        getResults() {
          let _this = this;
          if (_this.reg_date == "") {
            _this.veh_err = "Please Enter Vehicle number";
            return
          } else {
            this.veh_err = "";
          }
          _this.btntext = "please wait...";
          axios
            .get(
              `${this.url_ict_owner}?reg_date=${this.reg_date}&veh_num=${this.veh_num}`
            )
            .then(function (res) {
              _this.btntext = "Check Details";
              _this.responseErroe = "";
              _this.reg_date ="",
              _this.veh_num ="",
              console.log(res.data.data.owner_name);
              _this.results = res.data.data;
              const obj = _this.results;
              // for (const property in obj) {
              //   // console.log(`${property} :${obj[property]}`);
              // }
              // console.log(obj);
            })
            .catch(function (err) {
              _this.btntext = "Check Details";
              _this.results = "";
              _this.responseErroe = "Data not found";
            });
        },
      },
      created: function () { },
    });
  </script>

</body>

</html>