<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/kpk_styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <meta name= "description" content="Check vehicle registration and ownership details for Khyber Pakhtunkhwa. Free vehicle registration check online for any vehicle in Capital of Pakistan.">

    <title>KPK Vehicle Verification</title>
    <link rel="shortcut icon" href="./img/imgpsh_fullsize_anim.png" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8190206851294660"
     crossorigin="anonymous"></script>

    <style>
      p{
        font-size: 1.2rem;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- navbar starts here -->
      <div id="navItems">
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
          <div class="container-fluid nav-group">
            <a class="navbar-brand colorWhite" href="./index.html"><img class="imgResponsie" src="./img/logo.png" alt="logo"></a>
            <button
              class="navbar-toggler dropdown dropdown-toggle"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="true"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-right: 3rem !important;">
                <li class="nav-item px-4">
                  <a
                    class="colorWhite nav-link active"
                    aria-current="page"
                    href="http://vehicleverification.pk/"
                    >Home</a
                  >
                </li>
                <li class="nav-item px-4">
                  <a class="nav-link colorWhite" href="./online-vehicle-verification-punjab.html">Punjab</a>
                </li>
                <li class="nav-item px-4">
                  <a class="nav-link colorWhite" href="./online-vehicle-verification-kpk.html">KPK</a>
                </li>
                <li class="nav-item px-4">
                  <a class="nav-link colorWhite" href="./online-vehicle-verification-sindh.html">Sindh</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="colorWhite nav-link dropdown dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Islamabad
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="./Veicle-smart-card-status-check-islamabad.html">Card Status Check</a></li>
                    
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="./online-vehicle-verification-islamabad.html">Vehicle Details</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <!-- <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  class="rounded custom-btn "
                  type="submit"
                >
                  Search
                </button>
              </form> -->
            </div>
          </div>
        </nav>
      </div>
      <!-- form div starts here -->
      <div><h1 class="fs-4   mt-4 text-center">Khyber Puktunkhwa Vehicle Verification Check</h1></div>
      <p class="text-center fs-5 mt-4"> Check vehicle registration and ownership details for Khyber Pakhtunkhwa . <br> Free vehicle registration  check online for any vehicle in Capital of Pakistan.</p>
      <div class="container d-flex justify-content-center">
        <div class="col-md-8  " > 
          <h1 class="fs-6 mt-4 fw-bold">Enter Your Vehicle Details</h1>
          <div class="mb-3 custom-form">
            <label for="formGroupExampleInput" class=" fw-bold form-label mt-2"
              >Vehicle Number</label
            >
            <input
              type="text"
              v-model="veh_num"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Eg. U 1234"
            />
            <p v-if ="veh_err != '' " class="text-danger"><small>{{veh_err}}</small></p>
            <label  for="Type" class="mt-4 fw-bold"> Vehicle Type</label>
            <select v-model="type" id="Type" class="custom-input">
              <option value="reg">Regestered</option>
              <option value="temp">Temperory</option>

            </select>
          </div>
          <div class="mb-3 custom-form">
            <label for="formGroupExampleInput2" class=" fw-bold form-label mt-2"
              >District</label
            >

            <select id="dname" name="dname" class="custom-input "  v-model="distt">

              <option selected="selected" value= ""  >-- Select District --</option>

              
            <option value="abbotabad">Abbottabad</option><option value="bannu">Bannu</option>
            <option value="battagram">Battagram</option><option value="buner">Buner</option>
            <option value="charsada">Charsadda</option><option value="chitral">Chitral</option>
            <option value="dikhan">Dera Ismail Khan</option><option value="hangu">Hangu</option><option value="haripur">Haripur</option><option value="karak">Karak</option><option value="kohat">Kohat</option><option value="kohistan">Kohistan</option><option value="lmarwat">Lakki Marwat</option><option value="lower_dir">Lower Dir (PATA)</option><option value="malakand">Malakand (PATA)</option><option value="mansehra">Mansehra</option><option value="mardan">Mardan</option><option value="nowshera">Nowshera</option><option value="peshawar">Peshawar</option><option value="shangla">Shangla</option><option value="swabi">Swabi</option><option value="swat">Swat </option><option value="tank">Tank</option><option value="torghar">Tor Ghar</option><option value="uper_dir">Upper Dir</option>
                          </select>
                          <p v-if = "distt_err != '' " class="text-danger"><small>{{distt_err}}</small></p>
          </div>
          <button @click="getResults" class="custom-btn  mt-3 ">
            <span v-if="btntext !== 'Check Details' ">
              <span v-bind:class="{'spinner-border spinner-border-sm':isClicked}" role="status" style="width: 15px; height: 15px;"></span> &nbsp;
              </span
              >
              <span v-text="btntext"></span>
          </button>
        </div>
      </div>

             <!-- rersults div starts here -->
      <div v-if="responseErroe != '' ">{{responseErroe}}</div>
      <div id="results" v-if="results != '' ">
        <div class=" container d-flex justify-content-center ">
          <div class="col-md-8 ">

         
          <table class="table table-bordered caption-top">
            <h4 class="mt-4">Results</h4>
            <tbody>
              <tr>
                <td style="width: 40%">Owner Name</td>
                <td>{{results.owner_name}}</td>
              </tr>
            </tr>
            <td style="width: 40%">Father/ Husband Name</td>
            <td>{{results.father_husband_name}}</td>
          </tr>
              <tr>
                <td style="width: 40%">Body Type</td>
                <td>{{results.body_type}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Chassis Number</td>
                <td>{{results.chassis_number}}</td>
              </tr>
              <tr>
              <tr>
                <td style="width: 40%">Color</td>
                <td>{{results.color}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Engine Number</td>
                <td>{{results.engine_number}}</td>
              
              <tr>
                <td style="width: 40%">Maker Make</td>
                <td>{{results.maker_make}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Model</td>
                <td>{{results.model}}</td>
              </tr>
              <tr>
                <td style="width: 40%">Registration Number</td>
                <td>{{results.registration_number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
      <div class="container">
      <div class="row">
      <div class=" col-md-12 ">
        <div class=" container pera_group">
            <h3 class=" fs-4 my-4">Online Vehicle Verification KPK:</h3>
          <p ><span >Coming to the
          KPK province of Pakistan vehicle verification needs to be much updated because
          some parts of this province have access to Non-Custom Paid. In this case,
          dealing here with a dealer in buying and selling a vehicle is not without risk.
          Several fraudulent cases occurred in this part. The online Vehicle verification
          system with the advent of the internet made us easier to deal with now.
          Although still there is a high risk dealing in vehicles in some parts of this
          very province.</span></p>
          
          <p ><span >In partnership
          with excise and taxes agency MTMIS KPK also operates as a motor registration
          authority, the objective was to publish the whole vehicle registration data
          online —accessible to the public. MTMIS Website might also help to prevent
          fraudulent trades and exchange of stolen autos.</span></p>
          
          <p ><span >Instead of this
          the website of Khyber PukhtunKhaw Excise and Taxation itself does not guarantee
          as well we are going to provide you the same disclaimer from their site exactly
          as it is here.</span></p>
          
          <h3 class=" fs-4 ">Disclaimer:</h3>
          
          <p ><span >“KPK Excise and
          Taxation Department give this site as a support of its customers/clients, web
          endorsers, online peruses, and the local area utilizing the World Wide Web
          (WWW). All data contained on this site isn't expected to deliver lawful
          exhortation. While the data on this site might be refreshed occasionally, extra
          realities or future turns of events/changes/alterations may influence the
          substance of the site and no assurance is given that the data gave is right,
          finished, or forward-thinking. KPK Excise Department accepts no risk or duty
          regarding any mistakes or oversights in the substance of this site and it
          doesn't mirror the validity of the vehicle or its archives/data. Data situated
          on the site may not mirror the current lawful or verifiable situation in regard
          to specific in respect to any particular matter’’.</span></p>
          
          <p ><span>Anyhow, the
          Khyber PukhtunKhaw Excise and Taxation Department has facilitated the citizen’s
          online vehicle verification KPK system throughout the province. If you are
          local of this province provides online verification for buying or selling a car
          avoid visiting the offices. As usual with a single click on your smartphone
          will display all the required data for your confirmation.</span></p>
          
          <h3 class=" fs-4 ">The appearing
          results may contain the following information: </h3>
          
          <p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-.25in'><span
          >1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Owner Details Registration </span></p>
          
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span
          >2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Details Vehicle Information </span></p>
          
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span
          >3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Chassis Number </span></p>
          
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span
          >4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Engine Number </span></p>
          
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span
          >5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Year of Registration </span></p>
          
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span
          >6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Company Name </span></p>
          
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span
          >7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Vehicle Model </span></p>
          
          <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span
          >8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Tax Payment Detail</span></p>
          
          <p class=MsoListParagraphCxSpLast style='text-align:justify;text-indent:-.25in'><span
          >9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span><span >Engine Capacity</span></p>
          
          <h3 class=" fs-4 ">Where and how
          can I find all this information?</h3>
          
          <p ><span >As the other
          province of Pakistan KPK Excise and Taxation Department has its own website you
          have to log in and check the data of the vehicle while buying or selling. <b><a href="http://vehicleverification.pk/">Vehicleverification.pk</a></b>
          is here to help to provide all the information to make sure you’re easily
          accessible.</span></p>
          
          <p ><span >Details Khyber
          PukhtunKhaw Excise and Taxation Department Pakistan</span></p>
          
          <p ><b><span >Contact #                                                                       091-9212260</span></b></p>
          
          <p ><b><span >Address                                                                          Shami
          Road Bashirabad Peshawar, Khyber PukhtunKhaw</span></b></p>
          
          <p ><b><a href=" http://www.kpexcise.gov.pk/">Website                                                                         http://www.kpexcise.gov.pk/</a></b></p>
          
          <p ><span >Finally, stay
          tuned with <b><a href="http://vehicleverification.pk/">Vehicleverification.pk</a></b>for the latest updates we are busy
          round the clock with our customer's services. Our services are always branded
          and valid that are taken from the real sources of the concerned department to
          avoid discrepancies. We are confident to bring you the updated information
          mentioned by the Excise and Taxation all over Pakistan where the online
          verification is available. We would appreciate your suggestion for future
          development.</span></p>
      </div>
    </div>
      </div>
      

      <!-- {{ results }} -->
 
    </div>
  </div>
    <footer class="d-flex  justify-content-center "style="margin-top: 7.5rem" >
      <div class=" text-center d-flex  justify-content-between ">
           &copy;2021 All rights reserved &nbsp;
         <span>
           Made with <img src="./img/Heart.jpg" width="20px"; alt="Love"> in <a href="https://emodiantech.com/" target="_blank">Emodian Technologies  </a>
       </span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
   
    <script>
      new Vue({
        el: "#app",
        data: {
          url_kpk: "https://api.vehicleverification.pk/kpk/",
          veh_num: "",
          distt: "",
          type: "reg",
          results: "",
          btntext: "Check Details",
          isClicked: false,
          responseErroe: "",
          veh_err: "",
          distt_err: ""
        },

        methods: {
          getResults() {
            let _this = this;
            if(_this.veh_num == "" ){
              _this.veh_err ="Please Enter Vehicle number";
              return
            }else {
              this.veh_err = "";
            }
            if(this.distt == "" ){
              this.distt_err ="Please Select Your District";
              return
            }else {
              this.distt_err = "";
            }
            _this.btntext = "Please Wait...";
            _this.isClicked =true
            axios
              .get(
                `${this.url_kpk}?veh_num=${this.veh_num}&distt=${this.distt}&type=${this.type}`
              )
              .then(function (res) {
                _this.btntext = "Check Details";
                _this.responseErroe = "";
                _this.isClicked = false
                console.log(res.data.registration_number);
                _this.results = res.data;
                const obj = _this.results;
                for (const property in obj) {
                  console.log(`${property} :${obj[property]}`);
                }
                console.log(obj);
              })
              .catch(function (err) {
                _this.btntext = "Check Details";
                _this.results = "";
                _this.responseErroe = "Data not found";
              });
          },
        },
        created: function () {},
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CV1N23N8GF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CV1N23N8GF');
</script>

</body>

</html>
