<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="online free vehicle verification checker ">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/ict_styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
    <meta name= "description" content="Check vehicle registration and ownership details for ICT Islamabad. Free vehicle smart card status check online for any vehicle in Capital of Pakistan.">

  <title>Vehicle smart card status check online islamabad</title>
  <link rel="shortcut icon" href="./img/imgpsh_fullsize_anim.png" />

  
  
</head>

<body>
  <div id="app">
    <!-- navbar starts here -->
    <div id="navItems">
      <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="container-fluid nav-group">
          <a class="navbar-brand colorWhite" href="./index.html">Emodian</a>
          <button class="navbar-toggler dropdown dropdown-toggle" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item px-4">
                <a
                  class="colorWhite nav-link active"
                  aria-current="page"
                  href="./index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item px-4">
                <a class="nav-link colorWhite" href="./online-vehicle-verification-punjab.html">Punjab</a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link colorWhite" href="./online-vehicle-verification-kpk.html">KPK</a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link colorWhite" href="./online-vehicle-verification-sindh.html">Sindh</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="colorWhite nav-link dropdown dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Islamabad
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="./Veicle-smart-card-status-check-islamabad.html">Card Status Check</a></li>
                  
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="./online-vehicle-verification-islamabad.html">Vehicle Details</a>
                  </li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="rounded custom-btn " type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <!-- form div starts here -->

    <div><h1 class="fs-4 text mt-4 text-center">Islamabad Vehicle card status Check</h1>
      <p class="text-center fs-5 mt-4"> Check vehicle registration and ownership details for ICT Islamabad.  Free vehicle registration <br> check online for any vehicle in Capital of Pakistan.</p>

    <div class="container d-flex justify-content-center">
      <div class="col-md-8  ">
        <h1 class="fs-6 mt-4 ">Enter Your Vehicle Details</h1>
        <div class="mb-3 custom-form">
          <label for="formGroupExampleInput" class="form-label mt-2">Vehicle Number</label>
          <input type="text" v-model="veh_num" class="form-control" id="formGroupExampleInput"
            placeholder="Vehicle Number" />
          <p><small class="text-danger">{{veh_err}}</small></p>

        </div>

        <button @click="getResults" class="custom-btn  mt-2 ">
          <span v-if="btntext !== 'Check Details' ">
            <!-- <img :src="loaderUrl" alt="'loader" width="20px;" /> &nbsp; -->
            <span v-bind:class="{'spinner-border spinner-border-sm':isClicked}" role="status"
              style="width: 15px; height: 15px;"></span> &nbsp;
          </span>
          <span v-text="btntext"></span>
        </button>
      </div>

    </div>
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">

        <div class="alert alert-success col-md-6 mt-5" role="alert" v-if="results != '' ">
          Status: {{results.status}}
        </div>
      </div>
    </div>

    <!-- rersults div starts here -->
    <div class="row  ">
      <div class="col-md-12 d-flex justify-content-center">
        <div v-if="responseErroe != '' " class="alert alert-danger col-md-6 mt-5" role="alert">
          {{responseErroe}}
        </div>
      </div>
    </div>
    </div>
    <div id="results" v-if="results != '' ">
      <div class=" container d-flex justify-content-center ">
        <div class="col-md-8 ">

        </div>
      </div>
    </div>

 <div class="container">
  <h2 class="mt-5 fs-5 fw-bold ">Vehicle Smart Card Status Check Online Islamabad</h2>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    Smart Card Vehicle Verification in Islamabad: Pakistan has finally established a new smart card system for vehicle registration, following the introduction of chip-based National Identity Cards in the country. Department of Excise and Taxation has begun issuing Vehicle Registration Cards. New chip-based Vehicle Registration Card replaces the old traditional book. This Smart Card for Vehicle contains vehicle and owner information. The National Database and Registration Authority (NADRA) and the Excise and Taxation Department collaborated on the Vehicle Registration Card.
  </p>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    After entering the data at the ETO office, NADRA verifies and validates the information provided by the ETO. After the data has been reviewed and authenticated, NADRA prints a chip-based card.
  </p>
  <h2 class="mt-5 fs-5 fw-bold ">Where will you get the Smart Card?</h2>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    It is issued in the Excise and Taxation Department Islamabad. However, it created a great deal of inconvenience to Islamabad residents who had to stay in the line for hours to apply for a smart card for new vehicle registration, transfer, or replacement of the registration book. They had to return to the Excise & Taxation office several times after submitting their application to check on the status of the smart card's issuance. 
  </p>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    In this regard, Deputy Commissioner Islamabad took notice of it, and the good news for the residents of the federal capital that the authorities had simplified the procedure by implementing smart card delivery status tracking via SMS. The Excise and Taxation Islamabad will immediately send you a text message with the status of your smart card delivery.
  </p>
  <h2 class="mt-5 fs-5 fw-bold ">What information on the Smart Card?</h2>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    Citizens will be able to use Smart Card-enabled cards for security and convenience. According to the concerned department, these cards will make the vehicle registration verification process considerably easier.
  </p>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    The government will also introduce new number plates and universal numbers in addition to the smart cards. A universal number will facilitate a smooth registration process, reducing the likelihood of people dodging the motor vehicle tax or obtaining forged license plates. It will be given out in conjunction with a Smart Card.
  </p>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    Because the public register data is being migrated to a central server, rather than the former system where each district had its own data, this number will function in all districts.
  </p>
  <h2 class="mt-5 fs-5 fw-bold "> You have to be aware of the following about Smart Card</h2>
  <ul>
    <li>Just a reminder, the following are the prerequisites and documentation required for replacing a registration book with a smart card for Islamabad registered vehicles: </li>
    <li> In Islamabad, the car must be registered.</li>
    <li>The applicant's automobile must likewise be registered in his or her name.</li>
    <li>The application must be accompanied by the original registration book and a photocopy of the CNIC.</li>
    <li>The cost of a smart card is Rs. 1500/-.</li>
    <li>What information the Smart Card contains?</li>
    <li>A smart card holds data on a vehicle and its owner, such as the owner's</li>
    <li>Identity, CNIC/passport information</li>
    <li>The vehicle's engine and chassis number</li>
    <li>Registration number</li>
    <li>	Assessed annual tax</li>
    <li>Token status</li>
    <li>Engine details and more.</li>

  </ul>
  <h2 class="mt-5 fs-5 fw-bold ">Summing up! </h2>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    Resultantly, the fact that owners will not be able to register the same car in two distinct districts, a centralized system will prevent duplicate number plates. Authorities will be able to determine whether the car has already been registered using its chassis number.
  </p>
  <p style="font-size: 1.2rem; font-weight: 400;" >
    Aside from that, smart cards make it simple for citizens to pay token taxes and keep track of their payments. Stay connected with us for updates and changes about your vehicle's verification. We are on 24/7 for your services with our site.
  </p>
  
 </div>
    </div>


    <!-- {{ results }} -->

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
    crossorigin="anonymous"></script>

  <script>
    new Vue({
      el: "#app",
      data: {
        url_islamabad: "http://159.65.169.2:8001/check-smart-card-islamabad/",
        veh_num: "",
        results: "",
        btntext: "Check Details",
        loaderUrl: "spinner-border text-primary",
        responseErroe: "",
        isClicked: false,
        veh_err: ""
      },

      methods: {
        getResults() {
          let _this = this;
          if (this.veh_num == "") {
            this.veh_err = "please enter vehicle number"
            return
          } else {
            this.veh_err = ""
          }
          _this.btntext = "Loading...";
          _this.isClicked = true;
          axios
            .get(
              `${this.url_islamabad}?veh_num=${this.veh_num}`
            )
            .then(function (res) {
              _this.btntext = "Check Details";
              this.isClicked = false;
              _this.responseErroe = "";
              console.log(res.data);
              _this.results = res.data;
              const obj = _this.results;
              for (const property in obj) {
                console.log(`${property} :${obj[property]}`);
              }
              console.log(obj);
            })
            .catch(function (err) {
              _this.btntext = "Check Details";
              _this.results = "";
              _this.responseErroe = "Data not found";
            });
        },
      },
      created: function () { },
    });
  </script>

</body>

</html>